.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.logo{
    font-size: 50px;
    font-weight: 800;
    color:var(--color--);
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 50px;
}